/* ===== Reset e Body ===== */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0); /* cinza claro */
    margin: 0;
    padding: 0;
}

.logo{
    width: 120px;
    margin-bottom: 5px;
}

/* ===== Inputs ===== */
input {
    width: 35%;
    padding: 12px 10px;
    margin: 10px 0;
    border: 3px solid #444; /* cinza escuro */
    border-radius: 25px;
    background-color: #fff; /* branco */
    font-size: 12px;
    outline: none;
    transition: all 0.3s ease;
}

input:hover {
    border-color: #000; /* preto */
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

/* ===== Wrapper ===== */
.main-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

/* ===== Logoff ===== */
.btLogoff {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 8px;
    top: 25px;
    left: 10px;
    position: absolute;
    color: #000000;
    background-color: rgb(255, 255, 255);
}
.btLogoff:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f08b";
    color:rgb(0, 0, 0);
}

.btLogoff:hover {
    background-color: #000000;
}
.btLogoff:hover:before{
    color:rgb(255, 255, 255);
}



/* ===== Dashboard Título ===== */
.titulo {
    background-color: #f5f5f5;
    padding: 10px;
    width: 99%;
    text-align: center;
    position: absolute;
    top: 1px;
    left:1px;
    color: #000;
}

/* ===== Usuário ===== */
.bvUser {
    position: absolute;
    top: 20px;
    left: 60px;
    font-style: italic;
    color: #000;
}

/* ===== Painel ===== */
.panel {
    text-align: center;
    position: absolute;
    background-color: #e5e5e5; /* cinza claro */
    margin-top: 5%;
    height: 40px;
    width: 99%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #000;
}

/* ===== Botões gerais ===== */
button {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    outline: none;
    border: 2px solid #444;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
    box-shadow: 0 1px 0 #777;
}

.ModalSave {
    width: 100px;
    height: 30px;
}

button:active {
    border-color:#000;
    transform: translateY(3px);
    box-shadow: 0 1px 0 #777;
    color:white;
    background-color: black;
}
button:hover{
    background-color: #000000;
    color: white;

}

/* ===== Login Container ===== */
.login-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 25%;
  height: 380px;
  position: absolute;
  top: 25%;
  left: 35%;
  border-radius: 30px;
  border: 2px solid #000;
  color: #000;
}

/* Inputs empilhados */
.login-container input {
  width: 25%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 2px solid #444;
  margin-top: 1px;
  background: #fff;
  color: #000;
}

/* Botão do login */
.login-container button {
  width: 20%;
  margin-top: 3px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #fff;
  color: #000;
}
.login-container button:hover{
    background-color: #000;
    color: white;
}

/* ===== Botão ADD ===== */
.btadd {
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color:black;
    background-color: white; /* preto */
}

.btadd:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btadd:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f067";
}

.btadd:active,
.btdel:active,
.btupd:active {
    transform: translateY(3px);
}
/* Filtros para a tabela */
.btFiltro {
    border: none;
    margin-left: 3px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color:black;
    background-color: white; /* preto */
}
.btFiltro:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.btFiltro:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0b0";
}
/* ===== modalcrud ===== */
.modalcrud {
    display: none;
    position: fixed;
    z-index: 10;
    inset: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.4);
}

.modalcrud-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.close, .closeFiltro {
    color: #000000;
    position:absolute;
    float: right;
    font-size: 24px;
    cursor: pointer;
    left: 57.6%;
    top: 175px;
    width: 25px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 10px;
}
.close:hover, .closeFiltro:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
/* ===== Tabela Gastos ===== */
.table-wrapper {
    max-height: 200px;
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    background-color: whitesmoke;
    width: 40%;
    height: 90%;
    top: 150px;
    left: 10px;
    border: 2px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: #fff;
}

#tabelaGastos {
    width: 90%;
    height: auto;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden; 
    border: 1px solid black;    
    margin-left: 30px;
    margin-top: 12px;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-radius: 13px;
}
#tabelaGastos td {
    font-size: 16px;
    color: #000000;
    padding: 2px 4px;      /* diminui o espaço interno */
    line-height: 1.1;      /* deixa a linha mais compacta */
    vertical-align: middle; /* centraliza verticalmente */
    text-align: justify;
}
#tabelaGastos thead {
    font-size: 25px;
    position: static;
    text-align:center;
    background-color: rgb(10, 10, 10);
    color: #ffffff;
}
#tabelaGastos tbody {
    vertical-align: top;
}

/* botões da tabela */
#tabelaGastos .btupd {
    background-color: #1bc900;
    color: rgb(0, 0, 0);
}

#tabelaGastos .btdel {
    background-color: #ad0404;
    color: rgb(0, 0, 0);
}
#tabelaGastos button:hover{
    color:rgb(255, 255, 255);
    
}
/* Grafico */
.pie {
  --p: 0;
  --w: 120px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 22px;
}

.pie::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(#2196F3 calc(var(--p) * 1%), #ddd 0);
}

.pie::after {
  content: "";
  position: absolute;
  inset: 12px;
  background: white;
  border-radius: 50%;
}

/* SELECT */
select {
width: 35%;
    padding: 12px 10px;
    border-radius: 12px;
    border: 3px solid #444;
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    outline: none;
    transition: .3s;
    margin-bottom: 3px;
}

select:hover {
    cursor:pointer;
}

select:focus {
    box-shadow: 2px 0 8px rgba(0,0,0,0.3);
}
.modalFiltro{
    display: none;
    position: fixed;
    z-index: 10;
    inset: 0;
    backdrop-filter: blur(2px) ;
    background-color: rgba(0,0,0,0.4)    
}
.modalFiltro-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#tabelaGastos thead th:first-child {
    border-top-left-radius: 12px;
}

#tabelaGastos thead th:last-child {
    border-top-right-radius: 12px;
}