@charset "UTF-8";

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    margin-top: 5px;
    border: 10px;
    background-color: #c5e3f791;
    border-radius: 10px;
    color: black;
}
.p1 {
    text-align: center;
    margin-top: -20px;
    font: caption;
    color: black;
}
.sec1 {
    text-align: center;
    height: 400px;
    background-color: rgb(231, 232, 255);
}
.sec2 {
    text-align: center;
    background-color: rgb(231, 232, 255);
}
button{
    width: 120px;
    height: 25px;
    border-radius:12px;
    background-color: #c5e3f791;
    border: 1px ;
    transition: background-color 0.2s ease, transform 0.2s ease; /* Transição suave */
}

button:active {
  background-color: beige;
  transform: scale(0.7); /* Efeito de encolhimento ao clicar */
}
.btadd{
    color:black;
}
.btdel{
    color:black;
}
.btupd{
    color:black;
}
.rect {
  width: 450px;
  height: 250px;
  margin-bottom: 120;
  border-radius: 55px;
  background-color: #c5e3f791; /* Cor de fundo */
}
