body {
    font-family: Arial, sans-serif;
    background-color: #e7e8ff;
    margin: 0;
    padding: 0;
}

/* Login */
.login-container {
    width: 300px;
    padding: 30px;
    background: #fff;
    margin: 15% auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #c5e3f791;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background-color: #a0cde3;
}

/* Dashboard */
.titulo{
    text-align:center;
    margin-top: 5px;
    background-color: #c5e3f791;
    border-radius: 10px;
    color: black;
}
.p1 {
    text-align: center;
    margin-top: -20px;
}
.sec1, .sec2 {
    text-align: center;
    background-color: rgb(231, 232, 255);
    padding: 20px;
}
.rect {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #c5e3f791;
}
.btadd, .btdel, .btupd{
    color:black;
    margin: 5px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  cursor: pointer;
}
#modalInput {
  width: 90%;
  padding: 5px;
  margin: 10px 0;
}
